/**********home***********/

.card_left{
  position: relative;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-block{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
}

.pages{
  position: relative;
  top: 5px;
  left: 220px;
}

.card-deck-right .card:not(:last-child){
  margin-bottom: 25px;
}

.card_right{
  width: 385px;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.headerpic{
  width: 100%;
  height: 200px;
}

/**********Stamp************/

.cards{
  border: 2px solid green;
  padding: 25px;
  margin: 25px;
}

/**********About************/
.abouttext1{
  border: 2px solid green;
  padding: 25px;
  margin: 25px;
}
.abouttext2{
  border: 2px solid green;
  padding: 25px;
  margin: 25px;
}
