
  <center>
  <h1>About us</h1>
  <div class = "abouttext1">
    <h2><b>Shop for Stamps on Stamps.com</b></h2>
    <font size = "5"<a>
     In the age of email and text messaging, postage stamps aren’t
     as indispensable as they used to be. But that doesn’t make them any less valuable,
     especially if you ask a stamp collector.
     For those with a penchant for these miniature pieces
     of artwork, Stamps carries rare,
     collectible stamps from all over the world so you can buy stamps
     online to help you complete
     your collection.
  </a></font>
  </div>

  <div class = "abouttext2">
    <h2><b>Begin with the Stamp-Collecting Basics</b></h2>
    <font size = "5"<a>
      On your quest for all things stamps,
      you’ll need a few housekeeping items if you’re stamp collecting.
      Things like magnifiers for picking up on the tiniest details
      are a definite must for any serious stamp collector.
      When it comes to those extra special postage stamps,
      you’ll need a few protective envelopes to keep your collection pristine.
    </a></font>
  </center>
