<div class = "container">
  <div class="row">
    <div class="col-md-6">
      <center><h3>Fresh News</h3></center>
      <div class="card-deck-left">

        <div class="card_left">
          <img class="card-img-top" src="http://www.lsm.lv/public/assets/userfiles/Aija/Pastmarka_Turaidas_pils_800-e1404802558156.jpg" alt="Card image cap"
          style=200px; width: 100%; display: block;>
          <div class="card-block">
            <h4 class="card-title">Dank stamp news</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

      </div>

      <div class="pages">
      <button type="button" class="btn btn-primary">1</button>
      <button type="button" class="btn btn-primary">2</button>
      <button type="button" class="btn btn-primary">3</button>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Recently registered users</h3>
      <div class="card-deck-right">

      <div class="card_right" ng-repeat="user in newestUsers">
      <img src="https://s3-media1.fl.yelpcdn.com/buphoto/PDczJr0KQm-CW5sbwPKXEw/o.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{user.name}} {{user.surname}}</b></h4>
        <p>Architect & Engineer</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Joined 3 months ago</small>
      </div>
    </div>


      </div>
    </div>
  </div>
</div>
