  <div class="col-md-6">
      <center><h3>Fresh News</h3></center>
      <div class="card-deck-left">
        <div class="card_left" ng-repeat="story in storyList">
          <div class="card-block">
            <h4 class="card-title">{{story.title}}</h4>
            <p class="card-text">{{story.content}}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <h3>Recently registered users</h3>
      <div class="card-deck-right">

      <div class="card_right" ng-repeat="user in newestUsers">
      <img src="https://s3-media1.fl.yelpcdn.com/buphoto/PDczJr0KQm-CW5sbwPKXEw/o.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{user.name}} {{user.surname}}</b></h4>
        <p>Architect & Engineer</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Joined 3 months ago</small>
      </div>
    </div>


      </div>
    </div>
