<center>
  <h1> Log in </h1>
	<p>
					<label for="username" class="uname" data-icon="u" > Your username </label>
					</br>
					<input id="username" name="username" required="required" type="text" placeholder=""/>
	</p>
	<p>
					<label for="password" class="youpasswd" data-icon="p"> Your password </label>
					</br>
					<input id="password" name="password" required="required" type="password" placeholder="" />
	</p>
	<p class="login button">
					<input type="submit" value="Log in" />
	</p>
</center>