<div style="width:400px;margin:0 auto;">
	<center>
	<h1>Registration</h1>
	<form name="form" ng-submit="vm.register()">
	  <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$error.required}">
			<label for="exampleInputEmail1">Email address</label></br>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="email" required />
			<span ng-show="form.email.$dirty && form.email.$error.required"</span>
	  </div>
	  <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
			<label for="exampleInputPassword1">Password</label></br>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password" required />
			<span ng-show="form.password.$dirty && form.password.$error.required" </span>
	  </div >
		<div class="form-actions">
	  	<button type="submit" class="btn btn-default" ng-click="doReg()">Register</button>
		</div>
	</form>
</center>
</div>






<!--<center>
  <h1> Sign up {{hhhh}}</h1>
	<p>
					<label for="username" class="uname" data-icon="u" > Your username </label>
					</br>
					<input id="username" name="username" required="required" type="text" placeholder=""/>
	</p>
	<p>
					<label for="password" class="youpasswd" data-icon="p"> Your password </label>
					</br>
					<input id="password" name="password" required="required" type="password" placeholder="" />
	</p>
	<p>
					<label for="password" class="youpasswd" data-icon="p"> Your password again </label>
					</br>
					<input id="password" name="password" required="required" type="password" placeholder="" />
	</p>
	<p class="login button">
					<input type="submit" value="Sign up" />
	</p>
</center>-->
