
<div style="width: 400px; margin: 0 auto;">
	<h1>Reģistrācija</h1>
	<form>
		<div class="form-group">
			<label>Segvārds</label> <input type="text" class="form-control"
				placeholder="Username">
		</div>
		<div class="form-group">
			<label>Vārds</label> <input type="text" class="form-control"
				placeholder="Vārds">
		</div>
		<div class="form-group">
			<label>Uzvārds</label> <input type="text" class="form-control"
				placeholder="Uzvārds">
		</div>
		<div class="form-group">
			<label>Parole</label> <input type="password" class="form-control"
				placeholder="Parole">
		</div>
		<div class="form-group">
			<label>Atkārtota parole</label> <input type="password"
				class="form-control" placeholder="Parole">
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
